.main {
    position: relative;
    background-color: #ee8129;
    width: 288px;
    border: 4px solid #ee8129;
    border-radius: 5px;
    font-family: 'Trebuchet MS';
    margin: 0 auto;
    font-size: 0;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #fff;
    padding: 22px 0;
    margin: 0;
    font-weight: bold;
}

.inner {
    background-color: #fff;
    margin: 0;
    padding: 0 14px 30px 14px;
}

.inner h2 {
    font-size: 24px;
    color: #48494a;
    text-align: center;
    padding: 23px 0 0 0;
    font-weight: normal;
}
.inner p  {
    font-size: 72px;
    text-align: center;
    color: #35495a;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.top-index  {
    vertical-align: super;
    font-size: 36px;
    font-weight: bold;
}

.bot-index {
    vertical-align: sub;
    font-size: 18px;
    font-weight: normal;
}

ul {
    list-style-type: none;
    font-size: 15px;
    color: #888c94;
    padding: 0;
    margin: 27px 0 18px 0;
}

li {
    border-bottom: 1px solid white;
    padding: 8px 0 8px 33px;
}

li:nth-child(odd) {
    background-color: #edf5fd;
}

li:nth-child(even) {
    background-color: #f5f5f6;
}

li:before {
    content: url(before.png);
    margin-right: 17px;
}

.button {
    width: 252px;
    margin: 0 auto;
    background-color: #ee8129;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    padding: 11px 0;
    border-bottom: 3px solid #b3560b;

}