div {
    background-color: #a64dff;
    margin-top: 17px;
}

nav {
    width: 900px;
    margin: 0 auto;
}

@font-face {
    font-family: Impact;
    src: url(http://kosoryho.github.io/GoFE/Lesson-4/Homework/ImpactRegular.ttf);
}

li {
    list-style-type: none;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 17px;
    font-family: Impact;
}

li:hover {
    cursor: pointer;
    background-color: #ededed;
    color: #a0a0a0;
}

li:last-child {
    float: right;
}